.sidebar{
    padding-top: 1em;
    border-right: solid 2px black;
}
.Header {
    border-bottom: solid 2px black;
    display: flex;
    align-items: flex-end;
}
.Header > h1 {
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
    
}
.list{
    padding-top: 8px;
}
.price-select {
    font-size: 1rem;
}
body{
    background-color:lightsteelblue;
}
