@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-image: url('https://wallpaperaccess.com/full/2141425.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:black;
        background:white;
        border:2px solid black;
        border-radius:50%;
        text-align:center;
        font-size:2em;

    }
    p{
        font-size:2em;
        color:black;
        text-align:center;
        border:2px solid black;
        background-color:white;



    }
    ul{
        text-align:center;
        font-size:1em;
    }
    li{
        color:white;

    }
</style>
<body>


<h1>Gamers Collection Corner</h1>

<p>A database to keep your collection in check</p>
<p></p>
<p>With Gamers Collection Corner, you can add and keep track of games based on:
    <h2>
            <ul>
                <li>Genre</li>
                <li>Price YOU purchased the game.</li>
                <li>Developer behind the game.</li>
                <li>Title of the game. (Of course!)</li>
            </ul>

    </h2>

    <p>With our simple tools you'll have your collection sorted like no other!</p>

    </p>



</body>