@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This applications use is for game owners and collecters to keep an orderly track of the games they own. With ease of adding, editing, deleting, as well as filters to break the list down. </p>

<p>Created by:</p>
<ul>
    <li>Sarah</li>
    <li>Tyler</li>
    <li>Kazi</li>
    <li>Ethan</li>
</ul>